<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0.0" package="mobilis.app">
	<application android:icon="@drawable/mobilis"
		android:label="@string/app_name">
		<activity android:label="@string/app_name" android:name=".Application">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:name="mobilis.examples.helloworld.services.AdapterService">
			<intent-filter>
				<action android:name="mobilis.services.iMobService"></action>
			</intent-filter>
		</service>
		<service android:name="mobilis.examples.helloworld.services.MobService">
			<intent-filter>
				<action android:name="mobilis.examples.helloworld.services.iMobService"></action>
			</intent-filter>
		</service>
		<service android:name="mobilis.impl.control.ComponentManager">
			<intent-filter>
				<action android:name="mobilis.api.control.IComponentManager"></action>
			</intent-filter>
		</service>
		<service android:name="mobilis.examples.pingpong.PingService">
			<intent-filter>
				<action android:name="mobilis.examples.pingpong.IPingService"></action>
			</intent-filter>
		</service>
		<service android:name="mobilis.examples.pingpong.PongService">
			<intent-filter>
				<action android:name="mobilis.examples.pingpong.IPongService"></action>
			</intent-filter>
		</service>
	</application>
</manifest> 